body { background: url(img/bg1.jpg);
background-size: 350px;  
 font-family: Cuprum, Arial, Helvetica, sans-serif;
}


ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    width: 600px;
    height: 300px;
}

.topbar p{
    background:#3d3d3d;
    color: #fff;
    padding: 10;
    border: 1px all #666;
    font-weight: bold;
    text-align: center;
}


.navbar{
    width: 200px;
    position:absolute;
	left:0.5%;
	top:60px;
    border-radius: 10px;
    display: block;
}

.menu a{
    background:#3d3d3d ;
    color: #fff;
    padding: 10;
    display: block;
    border: 1px all #666;
    transition: 0.5s all;
    border-radius: 10px;
}

.menu a:hover{
    background: #666;
    padding: 10px 0 10px 20px;
}

.menu_list{
    position: relative;
}
.menu_drop{
    position: absolute;
    top: 0%;
    width: 100%;
    left: 100%;
    display: none;
}

.menu_list:hover .menu_drop{
    display: block;
}

.teching div{
	width:500px;
    display: block;
    margin: 0 auto;
}


.teching div a{
    background:#3d3d3d ;
    color: #fff;
    padding: 10;
    display: block;
    border: 1px all #666;
    border-radius: 10px;
	margin-top: 10;
    text-align: center;
    font-weight: bold;
}

.teching div img{
    background:#3d3d3d ;
    color: #fff;
    padding: 10;
    display: block;
    border: 1px all #666;
    border-radius: 10px;
    position: relative;
    left: -13%;
}

.teching div a:hover{
    background: #666;
    padding: 10px 0 10px 20px;
}

.news p{
    background:#3d3d3d ;
    color: #fff;
    padding: 10;
    display: block;
    border: 1px all #666;
    border-radius: 10px;
	
}
.news{
    width: 200px;
    position:absolute;
	left:0.5%;
	top:230px;
}


#menuToggle
{
  display: none;
  position: relative;
  top: 20px;
  left: 20px;
  

  z-index: 1;
  
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #3d3d3d;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    top: 70;
    height: 200;
    width: 200px;
    margin: -100px 0 0 -50px;
    padding: 75;
    padding-top: 80px;
    background: #ededed;
    list-style-type: revert;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-102%, 10%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}




 @media screen and (max-width: 1040px){
    .teching div{
      width:350px;
  }
    .teching div img{
    width: 500px;
    height: 300px;
    position: relative;
    left: -25%;
  }
    .navbar{
        display: none;
    }
    .news{
        display: none;
    }
    #menuToggle{
        display: block;
    }
 }